POSTGRES_USER=changeme
POSTGRES_PASSWORD=changeme
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=task2schedule
POSTGRES_SSLMODE=disable
POSTGRES_OPTIMEOUT=5s

APP_PORT=8080

SERVER_ADDR=localhost:8080

LOGGER_LEVEL=debug

PROJECT_ROOT=/Users/<user>/task2schedule/backend
