@import './styles/color.css';
@import './styles/spacing.css';
@import './styles/radius.css';
@import './styles/sizes.css';
@import './styles/effects.css';
@import './styles/typography.css';

:root {
  color: var(--color-text);
  background: var(--color-ground);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#root {
  min-height: 100dvh;
}
